        <footer>
            <p>
                &copy; {{ now.Format "2006"}}. Ian Rodrigues, software engineer @ <a class="border-b border-gray-700" href="">oowlish technology</a>
            </p>

            <p>
                <a href="https://github.com/ianrodrigues">GitHub</a> / <a href="https://twitter.com/ianrdrgs">Twitter</a>
            </p>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/php.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ template "_internal/google_analytics.html" . }}
</body>
</html>
