        <footer>
            <p>
                &copy; 2019. Ian Rodrigues, software engineer @ <a class="border-b border-gray-700" href="">oowlish technology</a>
            </p>

            <p>
                <a href="">GitHub</a> / <a href="">Twitter</a>
            </p>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/php.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
